.futalist-header__sub-title{
  @include os1-set-padding($padding-side: left-right, $padding-size: XS);
  margin: 5px 5px 0;
  border-left: 1px solid #DEE4EA;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  height: 25px;
  color: $os1-color-navy-D;
  font-size: 12px;
  font-weight: bold;
}
