.task-card {
  @include os1-set-margin($margin-side: bottom, $margin-size: S);
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 15px 10px;
  border: solid 1px $os1-color-gold-2S;
  border-bottom: solid 2px $os1-color-gold-2S;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:last-child {
    @include os1-set-margin($margin-side: bottom, $margin-size: XL);
  }

  .task-card__infomation {
    box-sizing: border-box;
    width: 75%;
  }

  .task-card__name {
    @include os1-font-size($font-size: L);
    color: $os1-color-navy-D;
    font-weight: bold;

    &.-completed {
      text-decoration: line-through;
      color: $os1-color-navy-1S;
    }
  }

  .task-card__arrow {
    box-sizing: border-box;
    font-size: 20px;
    color: $os1-color-gold-2S;
  }
}
