.top-header {
  background-color: #FFF2E6;
  @include os1-set-padding($padding-side: top, $padding-size: L);

  .top-header__information {
    @include os1-set-margin($margin-side: top, $margin-size: S);
    @include os1-font-size;
    color: $os1-color-navy-D;
    text-align: center;
  }

  // &::after {
  //   content: '';
  //   background-color: #FFF2E6;
  //   display: block;
  //   width: 100%;
  //   height: 50px;
  // }
}
