.task-card {
  @include os1-set-padding($padding-side: left-right, $padding-size: S);
  @include os1-set-margin($margin-side: bottom, $margin-size: S);
  box-sizing: border-box;
  height: 91px;
  width: 100%;
  border: solid 1px $os1-color-gold-2S;
  border-bottom: solid 2px $os1-color-gold-2S;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    @include os1-set-margin($margin-side: bottom, $margin-size: XL);
  }

  .task-card__infomation {
    box-sizing: border-box;
  }

  .task-card__name {
    @include os1-font-size($font-size: L);
    color: $os1-color-navy-D;
    font-weight: bold;

    &.-completed {
      text-decoration: line-through;
      color: $os1-color-navy-1S;
    }
  }

  .task-card__progress-frame {
    @include os1-set-margin($margin-side: top, $margin-size: S);
    box-sizing: border-box;
    height: 25px;
    width: 256px;
    border-radius: 12px;
    border: solid 1px $os1-color-gold-3S;
    border-top: solid 2px $os1-color-gold-3S;
  }

  .task-card__progress-bar {
    box-sizing: border-box;
    height: 18px;
    border-radius: 9px;
    margin-top: 2px;
    margin-left: 2px;

    &.-percent100 {
      background-color: #FF9E2B;
      width: 250px;
      &::after {
        content: "完了";
        display: inline-block;
        width: 250px;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 18px;
      }
    }

    &.-percent60 {
      background-color: #FFBB4A;
      width: 150px;
    }

    &.-percent30 {
      background-color: #FFD971;
      width: 75px;
    }

    &.-percent0 {
      &::after {
        content: "0%";
        display: inline-block;
        line-height: 18px;
        margin-left: 10px;
        color: $os1-color-navy-2S;
      }
    }
  }

  .task-card__arrow {
    box-sizing: border-box;
    font-size: 20px;
    color: $os1-color-gold-2S;
  }
}
