/*
---
name: Content width
tag:
  - 2_variables
  - os1
category:
  - 2_variables
  - 2_variables/size
  - 2_variables/size/content-width
  - 3_layouts/content
---

$os1-site-width: 980px;

$os1-main-width: 660px;

$os1-side-menu-width: 300px;

$os1-mobasif-site-width: 950px;
*/

$os1-site-width: 980px;
$os1-main-width: 660px;
$os1-side-menu-width: 300px;
$os1-mobasif-site-width: 950px;
