= partial 'header'

.about-task.os1-content
  %a.task-title{ href: "#" }
    .checkbox
      %svg{ height: "11px", version: "1.1", viewbox: "0 0 15 11", width: "15px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink" }
        %g{ fill: "none", "fill-rule": "evenodd", stroke: "none", "stroke-width": "1" }
          %g.checkbox__check-icon{ id: "checkbox/v5/normal", "stroke-width": "3", transform: "translate(-5.000000, -7.000000)" }
            %polyline{ points: "6 10.8871576 10.8384674 15.725625 18.3941768 8" }
    .task-title__text
      %h2.task-title__task-name ふたりのToDoリストの使い方の確認
      .task-title__task-deadline 8ヶ月前〜5ヶ月前
  .progress-bar
  %p.about-task__overview
    ふたりのToDoリストは、結婚式準備を効率良く行いたい人のための専用ToDoツールです。
    %br
    %br
    それぞれのやることには下のような細かいタスクが登録されています。タスクの期日は目安です。全てにチェックを付けて結婚式準備を開始しましょう！

  .task-item-container
    %a.task-item{ href: "#" }
      .checkbox
        %svg{ height: "11px", version: "1.1", viewbox: "0 0 15 11", width: "15px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink" }
          %g{ fill: "none", "fill-rule": "evenodd", stroke: "none", "stroke-width": "1" }
            %g.checkbox__check-icon{ id: "checkbox/v5/normal", "stroke-width": "3", transform: "translate(-5.000000, -7.000000)" }
              %polyline{ points: "6 10.8871576 10.8384674 15.725625 18.3941768 8" }
      .task-item__text
        .task-item__task-title 完了したタスクにチェックを付けましょう
        .task-item__task-deadline 8ヶ月前〜5ヶ月前
    %a.task-item{ href: "#" }
      .checkbox
        %svg{ height: "11px", version: "1.1", viewbox: "0 0 15 11", width: "15px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink" }
          %g{ fill: "none", "fill-rule": "evenodd", stroke: "none", "stroke-width": "1" }
            %g.checkbox__check-icon{ id: "checkbox/v5/normal", "stroke-width": "3", transform: "translate(-5.000000, -7.000000)" }
              %polyline{ points: "6 10.8871576 10.8384674 15.725625 18.3941768 8" }
      .task-item__text
        .task-item__task-title 一括操作は画面左上のチェックを押します
        .task-item__task-deadline 8ヶ月前〜5ヶ月前
    %a.task-item{ href: "#" }
      .checkbox
        %svg{ height: "11px", version: "1.1", viewbox: "0 0 15 11", width: "15px", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink": "http://www.w3.org/1999/xlink" }
          %g{ fill: "none", "fill-rule": "evenodd", stroke: "none", "stroke-width": "1" }
            %g.checkbox__check-icon{ id: "checkbox/v5/normal", "stroke-width": "3", transform: "translate(-5.000000, -7.000000)" }
              %polyline{ points: "6 10.8871576 10.8384674 15.725625 18.3941768 8" }
      .task-item__text
        .task-item__task-title 困ったら下の関連記事を読んでみましょう
        .task-item__task-deadline 8ヶ月前〜5ヶ月前

  .about-task__share
    .os1-default-button
      %a.os1-default-button__item{ href: "#" }
        %span.os1-default-button__text 予定をカレンダーに追加する
        %span.os1-default-button__sub-text カレンダーアプリが開きます
    .os1-default-button
      %a.os1-default-button__item{ href: "#" }
        %span.os1-default-button__text LINEで送る
        %span.os1-default-button__sub-text LINEアプリが開きます

  .related-articles
    %h3.os1-title.-h3 関連記事
    %a.related-article{ href: "https://www.mwed.jp/manuals/380/" }
      %img.related-article__thumbnail{ src: "https://d4w9i1j5cm7ll.cloudfront.net/rc/C001/1320x680cq80/u/060/0600476919.jpg" }
      .related-article__text
        %h4.related-article__title ＼これでスムーズ＆完璧／結婚式の準備スケジュール徹底ガイド
        %p.related-article__postdate 2019.06.09

%footer.os1-form-footer
  %p.os1-form-footer__links
    %a.os1-form-footer__link{ href: "#" } 会社概要
    |
    %a.os1-form-footer__link{ href: "#" } 会員規約
    |
    %a.os1-form-footer__link{ href: "#" } プライバシーポリシー
  %p.os1-form-footer__copyright &copy; Minnano Wedding Co., Ltd.
