%header.os1-form-header
  %a{ href: "#" }
    %img.os1-form-header__logo{ src: "images/global/logo.png", alt: "" }

.os1-content
  .os1-default-button
    %a.os1-default-button__item{ href: "#" }
      %span.os1-default-button__text 予定をカレンダーに追加する
      %span.os1-default-button__sub-text カレンダーアプリが開きます
  .os1-default-button
    %a.os1-default-button__item{ href: "#" }
      %span.os1-default-button__text LINEで送る
      %span.os1-default-button__sub-text LINEアプリが開きます

%footer.os1-form-footer
  %p.os1-form-footer__links
    %a.os1-form-footer__link{ href: "#" } 会社概要
    |
    %a.os1-form-footer__link{ href: "#" } 会員規約
    |
    %a.os1-form-footer__link{ href: "#" } プライバシーポリシー
  %p.os1-form-footer__copyright &copy; Minnano Wedding Co., Ltd.
