---
title: Welcome to Middleman
---

= partial('header', locals: { href: "top.html" })

.os1-content
  %h1.os1-title.-h1 テストです

.counseling-desk-information
  %h2.os1-title.-h3 迷ったら結婚式のプロに相談しよう
  %p.counseling-desk-information__text 結婚式を知り尽くしたプロのアドバイザーが、お悩みやご要望に応じてピッタリの式場をご紹介
  %img.counseling-desk-information__image{ src: "https://d4w9i1j5cm7ll.cloudfront.net/o/C001/smartphone/desk/top/desk_thumbnail_710_240.jpg", alt: "みんなのウェディング相談デスク" }
  .os1-primary-button.-size-L.counseling-desk-information__button
    %button.os1-primary-button__item{:type => "button"}
      %span.os1-primary-button__text LINEで相談する
  %a.os1-link-see-more みんなのウェディング相談デスクへ

%footer.os1-form-footer
  %a.os1-form-footer__link{ href: "#" } 会社概要
  |
  %a.os1-form-footer__link{ href: "#" } 会員規約
  |
  %a.os1-form-footer__link{ href: "#" } プライバシーポリシー
  %p.os1-form-footer__copyright &copy; Minnano Wedding Co., Ltd.
