---
title: Welcome to Middleman
---

%header.os1-form-header
  %a{ href: "#" }>
    %img.os1-form-header__logo{ src: "images/global/logo.png", alt: "" }>
  .os1-form-header__sub-title
    %p ToDoリスト

.os1-content
  %h1.os1-title.-h1 テストです

%footer.os1-form-footer
  %p.os1-form-footer__links
    %a.os1-form-footer__link{ href: "#" } 会社概要
    |
    %a.os1-form-footer__link{ href: "#" } 会員規約
    |
    %a.os1-form-footer__link{ href: "#" } プライバシーポリシー
  %p.os1-form-footer__copyright &copy; Minnano Wedding Co., Ltd.
