---
title: 結婚式準備やること一覧
---

= partial 'header'

.os1-content
  .tasklist-container
    %h1.os1-title.-h1 結婚式準備やること一覧
    %form
      .task-filter
        .task-filter__search-box
          %input.task-filter__search-form{ type: "serach" , id: "hoge" , name: "hoge" , placeholder: "例）親、招待客" }
          %button.task-filter__search-button{ name: "button" , type: "submit" }
            %span.os1-symbol-search

        .os1-default-select
          .os1-default-select__item-wrapper
            %select.os1-default-select__item{ name: "hoge" , id: "hoge" }
              %option{ value: "0" }時期を選択
              %option{ value: "1" }12ヶ月〜9ヶ月前
              %option{ value: "2" }8ヶ月〜5ヶ月前
              %option{ value: "3" }4ヶ月〜3ヶ月前
              %option{ value: "4" }2ヶ月前
              %option{ value: "5" }1ヶ月前
            %span.os1-default-select__arrow-mark

        .os1-default-checkbox
          %label
            %input.os1-default-checkbox__input{ type: "checkbox" , name: "foo" , value: "foo1" }
            %span.os1-default-checkbox__text 未完了のみ表示する

        %a.task-filter__reset.-hidden{ href: "" } 表示をリセットする

    .tasklist
      %h4.os1-title.-h4 12ヶ月前〜9ヶ月前からはじめよう
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name.-completed 式場を決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar.-percent100
        .task-card__arrow
          %span.os1-symbol-arrow-right

    .tasklist
      %h4.os1-title.-h4 8ヶ月前〜5ヶ月前からはじめよう
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name.-completed ゲストの出欠確認
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar.-percent100
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 指輪の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar.-percent60
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name ウェディングアイテムの準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar.-percent30
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 前撮り
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar.-percent0
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 衣装の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name コンセプトを決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 親への挨拶
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 二次会を決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right

    .tasklist
      %h4.os1-title.-h4 4ヶ月前〜3ヶ月前からはじめよう
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name ブーケの準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 挨拶・受付・余興の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 引き出物の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 当日のイベントを決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 装花の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right

    .tasklist
      %h4.os1-title.-h4 2ヶ月前からはじめよう
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name BGMを決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name ウェディングケーキの準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name ゲスト当日対応準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 料理・ドリンクを決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right

    .tasklist
      %h4.os1-title.-h4 4ヶ月前〜3ヶ月前からはじめよう
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name ブーケの準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 挨拶・受付・余興の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 引き出物の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 当日のイベントを決める
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 装花の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right

    .tasklist
      %h4.os1-title.-h4 1ヶ月前からはじめよう
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name スピーチの準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 自分を磨く
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 式場とのやりとり
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 親への手紙の準備
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name 搬入
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right
      %a.task-card{ href: "" }
        .task-card__infomation
          .task-card__name お礼を渡す
          .task-card__progress
            .task-card__progress-frame
              .task-card__progress-bar
        .task-card__arrow
          %span.os1-symbol-arrow-right

%footer.os1-form-footer
  %p.os1-form-footer__links
    %a.os1-form-footer__link{ href: "#" } 会社概要
    |
    %a.os1-form-footer__link{ href: "#" } 会員規約
    |
    %a.os1-form-footer__link{ href: "#" } プライバシーポリシー
  %p.os1-form-footer__copyright &copy; Minnano Wedding Co., Ltd.
