/*
---
name: Icons Unicode Symbols
tag:
  - 2_variables
  - os1
category:
  - 2_variables
  - 2_variables/icons
  - 2_variables/icons/unicodes
---

```html
<ul class="oshidori-icons">
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-like"></span>&lt;span class="os1-symbol-like"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-map"></span>&lt;span class="os1-symbol-map"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-access"></span>&lt;span class="os1-symbol-access"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-book"></span>&lt;span class="os1-symbol-book"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-caution"></span>&lt;span class="os1-symbol-caution"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-clip"></span>&lt;span class="os1-symbol-clip"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-crown"></span>&lt;span class="os1-symbol-crown"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-desk"></span>&lt;span class="os1-symbol-desk"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-diamond-line"></span>&lt;span class="os1-symbol-diamond-line"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-dish"></span>&lt;span class="os1-symbol-dish"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-dress"></span>&lt;span class="os1-symbol-dress"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-fukidashi"></span>&lt;span class="os1-symbol-fukidashi"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-gosyugi"></span>&lt;span class="os1-symbol-gosyugi"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-hiyou"></span>&lt;span class="os1-symbol-hiyou"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-kuchikomi"></span>&lt;span class="os1-symbol-kuchikomi"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-mail-love"></span>&lt;span class="os1-symbol-mail-love"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-mail"></span>&lt;span class="os1-symbol-mail"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-menu"></span>&lt;span class="os1-symbol-menu"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-party"></span>&lt;span class="os1-symbol-party"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-pencil"></span>&lt;span class="os1-symbol-pencil"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-phone"></span>&lt;span class="os1-symbol-phone"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-photo"></span>&lt;span class="os1-symbol-photo"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-plane"></span>&lt;span class="os1-symbol-plane"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-place-genre"></span>&lt;span class="os1-symbol-place-genre"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-present"></span>&lt;span class="os1-symbol-present"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-ribbon"></span>&lt;span class="os1-symbol-ribbon"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-ranking-1"></span>&lt;span class="os1-symbol-ranking-1"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-ranking-2"></span>&lt;span class="os1-symbol-ranking-2"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-ranking-3"></span>&lt;span class="os1-symbol-ranking-3"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-ring"></span>&lt;span class="os1-symbol-ring"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-lock-close"></span>&lt;span class="os1-symbol-lock-close"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-lock-open"></span>&lt;span class="os1-symbol-lock-open"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-search"></span>&lt;span class="os1-symbol-search"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-tell"></span>&lt;span class="os1-symbol-tell"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-calendar"></span>&lt;span class="os1-symbol-calendar"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-my"></span>&lt;span class="os1-symbol-my"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-point"></span>&lt;span class="os1-symbol-point"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-sodan"></span>&lt;span class="os1-symbol-sodan"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-twitter"></span>&lt;span class="os1-symbol-twitter"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-facebook"></span>&lt;span class="os1-symbol-facebook"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-attention"></span>&lt;span class="os1-symbol-attention"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-good"></span>&lt;span class="os1-symbol-good"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-news"></span>&lt;span class="os1-symbol-news"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-external-link"></span>&lt;span class="os1-symbol-external-link"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-heart"></span>&lt;span class="os1-symbol-heart"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-heart-line"></span>&lt;span class="os1-symbol-heart-line"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-reply"></span>&lt;span class="os1-symbol-reply"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-talk"></span>&lt;span class="os1-symbol-talk"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-send"></span>&lt;span class="os1-symbol-send"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-delete"></span>&lt;span class="os1-symbol-delete"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-question"></span>&lt;span class="os1-symbol-question"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-up"></span>&lt;span class="os1-symbol-arrow-up"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-down"></span>&lt;span class="os1-symbol-arrow-down"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-left"></span>&lt;span class="os1-symbol-arrow-left"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-right"></span>&lt;span class="os1-symbol-arrow-right"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-oval-up"></span>&lt;span class="os1-symbol-arrow-oval-up"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-oval-down"></span>&lt;span class="os1-symbol-arrow-oval-down"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-oval-left"></span>&lt;span class="os1-symbol-arrow-oval-left"&gt;&lt;/span&gt;</li>
  <li class="oshidori-icons__item"><span class="oshidori-icons__icon os1-symbol-arrow-oval-right"></span>&lt;span class="os1-symbol-arrow-oval-right"&gt;&lt;/span&gt;</li>
</ul>
```
*/

$os1-symbol-unicodes: (
  access: "\e900",
  arrow-down: "\e901",
  arrow-left: "\e902",
  arrow-oval-down: "\e903",
  arrow-oval-left: "\e904",
  arrow-oval-up: "\e906",
  arrow-right: "\e907",
  arrow-up: "\e908",
  arrow-oval-right: "\e905",
  attention: "\e909",
  book: "\e90a",
  calendar: "\e90b",
  caution: "\e90c",
  clip: "\e90d",
  crown: "\e90e",
  delete: "\e90f",
  desk: "\e910",
  diamond-line: "\e911",
  dish: "\e912",
  dress: "\e913",
  external-link: "\e914",
  facebook: "\e915",
  fukidashi: "\e916",
  good: "\e917",
  gosyugi: "\e918",
  heart-line: "\e919",
  heart: "\e91a",
  hiyou: "\e91b",
  kuchikomi: "\e91c",
  like: "\e91d",
  lock-close: "\e91e",
  lock-open: "\e91f",
  mail-love: "\e920",
  mail: "\e921",
  map: "\e922",
  menu: "\e923",
  my: "\e924",
  news: "\e925",
  party: "\e926",
  pencil: "\e927",
  phone: "\e928",
  photo: "\e929",
  place-genre: "\e92a",
  plane: "\e92b",
  point: "\e92c",
  present: "\e92d",
  question: "\e92e",
  ranking-1: "\e92f",
  ranking-2: "\e930",
  ranking-3: "\e931",
  reply: "\e932",
  ribbon: "\e933",
  ring: "\e934",
  search: "\e935",
  send: "\e936",
  sodan: "\e937",
  star-half: "\e938",
  star-line: "\e939",
  star: "\e93a",
  talk: "\e93b",
  tell: "\e93c",
  twitter: "\e93d"
);

@each $symbol, $unicode in $os1-symbol-unicodes {
  .os1-symbol-#{$symbol}:before {
    @include os1-symbol-base;
    content: "#{$unicode}";
  }
}

@each $ranking in "1", "2", "3" {
  .os1-symbol-ranking-#{$ranking}:before {
    @if $ranking == "1" {
      color: $os1-color-rainking-1;
    } @else if $ranking == "2" {
      color: $os1-color-rainking-2;
    } @else if $ranking == "3" {
      color: $os1-color-rainking-3;
    }
  }
}
