@font-face {
  font-family: 'MwedSymbol';
  src: font-url('MwedSymbol.eot');
  src: font-url('MwedSymbol.eot') format('embedded-opentype'),
    font-url('MwedSymbol.ttf') format('truetype'),
    font-url('MwedSymbol.woff') format('woff'),
    font-url('MwedSymbol.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
